*{
  margin: 0;
  padding: 0;
}
.main{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  background-color: blue;
}

.sub-main{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 550px;  
  width: 50%;
  /* box-shadow: 11px 12px 13px 12px rgb(207, 207, 207); */
  padding-top: 20xp;
  border-radius: 60px;
  background-color: white;
}
.signin-heading{
  padding-top: 3rem;
  font-size: 2.5rem;
}
.email-container{
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 2rem;
  
}
.email-container input{
  padding: 1.1rem;
  width: 45%;
  border-radius: 1rem ;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.666);
  color: black;
  text-align: left;

}
.email-container input::placeholder{
  color: grey;  text-align: left;

}
.password-container{
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 1rem;
  
}
.password-container input{
  padding: 1.1rem;
  width: 45%;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.666);
  text-align: left;

}
.checkbox-container{
  padding-top: 1rem;
}

.checkbox-container input{
  padding: 5rem;
  margin-right: .5rem;
}
.checkbox-container label{
  font-size: 1.2rem;

}
